// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.maskImage a[rel=subscribe-rss]:after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    background-color: #b93b40;
}